<%= simple_form_for :vaccination, url: search_record_path, method: :post do |f| %>
  <div class="row pt-2 pb-3 mb-4 p-5 bg-secondary text-white">
    <div class="col">
      <label class="form-label">Country:</label>
      <%= f.input :country, collection: locals[:countries], :selected => locals[:country], :include_blank => "-Select Country-", input_html: { class: "form-control" }, label: false %>
    </div>

    <div class="col">
      <label class="form-label">Data Source:</label>
      <%= f.input :data_source, collection: locals[:data_sources], :selected => locals[:data_source], :include_blank => "-Select Data Source-", input_html: { class: "form-control" }, label: false %>
    </div>

    <div class="col">
      <label class="form-label">Date Updated:</label>
      <%= f.text_field :date_updated, value: locals[:date_updated], class: "form-control",
        data: {
          mode: "range",
          controller: "flatpickr",
          flatpickr_date_format: "Y-m-d"
        }
      %>
    </div>

    <div class="col">
      <%= f.fields_for :vaccination_vaccine do |vvf| %>
        <label class="form-label">Vaccines Used:</label>
        <%= vvf.input :vaccine, collection: locals[:vaccines], :selected => locals[:vaccine], :include_blank => "-Select Vaccine-", input_html: { class: "form-control" }, label: false %>
      <% end %>
    </div>

    <div class="col">
      <label class="form-label">Date First Vaccinated:</label>
      <%= f.text_field :first_vaccine_date, value: locals[:first_vaccine_date], class: "form-control",
        data: {
          mode: "range",
          controller: "flatpickr",
          flatpickr_date_format: "Y-m-d"
        }
      %>
    </div>

    <div class="col">
      <label class="form-label">&nbsp;</label>
      <div class="row">
        <%= f.button :submit, "SEARCH", class: "btn btn-dark btn-block" %>
      </div>
    </div>
  </div>
<% end %>