<div class="row pt-4 pb-4 bg-image">
  <div class="col-md-12">
    <h3 class="text-white">Vaccinations Record</h3>
    <% if user_signed_in? %>
      <div class="btn-group float-end">
        <%= link_to "Upload Record", new_vaccinations_path, class: "btn btn-dark" %>
        <%= link_to 'Delete All Records', vaccinations_path, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
</div>

<%= render "vaccinations/search",
  locals: {
    countries: @countries, data_sources: @data_sources, vaccines: @vaccines,
    country: @search_vaccination.country, data_source: @search_vaccination.data_source,
    date_updated: @search_vaccination.date_updated, vaccine: @search_vaccination.vaccine,
    first_vaccine_date: @search_vaccination.first_vaccine_date
  }
%>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Country</th>
      <th>ISO3</th>
      <th>Data Source</th>
      <th>Date Updated</th>
      <th>Total Vaccinations</th>
      <th>Persons Vaccinated 1 Plus Dose</th>
      <th>Total Vaccinations per 100</th>
      <th>Vaccines Used</th>
      <th>First Vaccine Date</th>
      <th>Number of Vaccine Type Used</th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0  %>
    <% @vaccinations.each do |v| %>
      <tr>
        <td><%= counter = counter.to_i + 1 %></td>
        <td><%= v.country.name %></td>
        <td><%= v.country.iso3 %></td>
        <td><%= v.data_source %></td>
        <td><%= v.date_updated %></td>
        <td><%= v.total_vaccinations %></td>
        <td><%= v.persons_vaccinated_1plus_dose %></td>
        <td><%= v.total_vaccinations_per100 %></td>
        <td>
          <% v.vaccination_vaccines.each do |vv| %>
            <span class="row"><%= vv.vaccine.name %>,</span>
          <% end %>
        </td>
        <td><%= v.first_vaccine_date %></td>
        <td><%= v.number_vaccines_types_used %></td>
      </tr>
    <% end %>
  </tbody>
</table>