<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card mt-5">
      <h3 class="card-header text-center">Import CSV</h3>
      <div class="card-body">
        <%= simple_form_for @vaccination do |f| %>
          <div class="form-group mb-3">
            <%= f.input :file, as: :file, input_html: { class: 'form-control', accept: "text/csv" }, label: false %>
          </div>

          <div class="row p-3">
            <%= f.button :submit, "Upload CSV File", class: "btn btn-dark btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>