<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card mt-5">
      <h3 class="card-header text-center">Register</h3>
      <div class="card-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group mb-3">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :country %><br />
            <%= f.select :country_id, options_from_collection_for_select(@countries, "id", "name"), {}, { class: "form-select" } %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          <br/>

          <%= f.submit "Sign up", class: "btn btn-dark" %>
          <span class="float-end">
            Already have an account?
            <%= link_to "Log in", new_session_path(resource_name), class: "font-weight-bold" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
