<% if resource.errors.any? %>
  <div id="error_explanation">
    <h5 class="text-danger">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h5>
    <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>
