<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card mt-5">
      <h3 class="card-header text-center">Log in</h3>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group mb-3">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <br/>

          <%= f.submit "Log in", class: "btn btn-dark" %>
          <span class="float-end">
            No account yet?
            <%= link_to "Sign up", new_registration_path(resource_name), class: "font-weight-bold" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>






