<% if notice %>
  <div class="alert alert-success alert-dismissible fade show container mt-3 fixed-alert" id="success-alert" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% elsif alert %>
  <div class="alert alert-danger alert-dismissible fade show container mt-3 fixed-alert" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% elsif flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <div class="alert alert-danger alert-dismissible fade show container mt-3 fixed-alert" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>

<div class="alert alert-success alert-dismissible fade show container mt-3 fixed-alert" id="success-alert" role="alert" style="display:none">
  <span id="success-alert-msg">Alert message goes here...</span> <%= link_to "Click to reload data.", root_path %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>